doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Owa Web Service
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', media='all', rel='stylesheet', type='text/css')
		link(href='/css/styles.css', media='all', rel='stylesheet', type='text/css')
		block head

	body

		block body
